@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
   <h3 class="text-center">Mira nuestros cursos profesionales en:<a href="https://softdevelopp.com/cursos"> www.softdevelopp.com/cursos</a></h3>
</div>
